<!-- Header de la Aplicación -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Boton menu hamburguesa -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header">SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido de la aplicacion -->
<ion-content class="home-content" fullscreen>
  <div class="home-header">
    <h1>¡Bienvenido/a {{ username }}!</h1>
  </div>

  <!-- Segment -->
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button value="datos">Mis Datos</ion-segment-button>
    <ion-segment-button value="experiencia">Experiencia</ion-segment-button>
    <ion-segment-button value="certificaciones">Certificado</ion-segment-button>
  </ion-segment>

  <!-- Contenedor -->
  <ng-container [ngSwitch]="tab">
    <app-mis-datos *ngSwitchCase="'datos'"></app-mis-datos>
    <app-experiencia-laboral *ngSwitchCase="'experiencia'"></app-experiencia-laboral>
    <app-certificaciones *ngSwitchCase="'certificaciones'"></app-certificaciones>
  </ng-container>
</ion-content>